build/
source/blueflamingo/debian-testing-amd64-netinst.iso
source/blueflamingo/debian-testing-amd64-netinst.jigdo
source/blueflamingo/debian-testing-amd64-netinst.template
source/cadastre/data1/ini/
source/cadastre/data1/ini_2013/
source/cadastre/data1/fin/
source/cadastre/data1/foot/
source/cadastre/data3/aif/
source/cadastre/data3/aj/
source/cadastre/data3/atal_production/
source/cadastre/data3/atal_test/
source/cadastre/data3/foot/
source/cadastre/etc/
source/dxf/dxf/*
source/dxf/dwg/*
source/Fred/NatureEtPaysage_develop/sig-vlr-tvb-nenv-17062016.sqlite
source/gdal/logo_*
source/gdal/*.tif
source/gdal/*.mbtiles
source/gdal/*.png
source/gdal/tuiles/
source/gup/bin/annuaire*.*
source/gup/bin/agents*.*
source/gup/bin/groupeAgents*.*
source/gup/bin/service*.*
source/gup/bin/tmp/*
source/gup/bin/tmpa/*
source/gup/bin/tmpga/*
source/gup/bin/tmps/*
source/gup/bin/tmpsa/*
source/gup/data/0_gup/
source/gup/data/
source/gup/data/*.sqlite
source/john/4letters.dic.gz
source/john/facebook-names-withcount.txt.bz2
source/john/rockyou.txt
source/john/omercy/
source/john/omercy/oreilly-free-ebooks/*
source/latex/doc/
source/latex/install-tl-ubuntu/
source/latex/rapport_facade_hdv.pdf
source/latex/rapport_facade_hdv.log
source/latexbd/build/
source/latexbd/source/CatalogueTopo/Images/
source/mapnik/vue_2013/
source/qgis/data/*
source/schemaspy_mssql/data
source/symbologie/data/Symbole/fromQgis/Grille_m*
source/symbologie/data/Symbole/fromQgis/Grille_p*
source/voirie/data/

